@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
@import url('normalize.css');

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--white);
    background: url('images/bg-mobile.svg') no-repeat center top var(--violet);
    background-size: contain;
    min-height: 100vh;
    min-width: 375px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: hsl(0deg 0% 100% / 80%);
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding: 2rem 0 3.75rem 0;
}

.logo img {
    width: 128px;
    position: relative;
    top: -2px;
}

.image {
    margin-bottom: 3.75rem;
}

.text {
    text-align: center;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    color: var(--violet);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    box-shadow: 0 0.5rem 0.25rem rgb(0 0 0 / 25%);
    transition: color 0.15s, background-color 0.15s;
}

.btn:hover,
.btn:focus {
    color: var(--white);
    background-color: var(--soft-magenta);
}

.social {
    list-style: none;
    margin: 0 0 2.5rem;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social li {
    margin: 0.3125rem;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 28px;
    height: 28px;
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: color 0.15s, border-color 0.15s;
}

.social a:hover,
.social a:focus {
    color: hsl(330, 100%, 69%);
    border-color: hsl(330, 100%, 69%);
}

.facebook svg { width: 8px; }
.twitter svg { width: 12px; }
.instagram svg { width: 14px; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 575px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    body {
        background-size: cover;
    }

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    body {
        background-image: url('images/bg-desktop.svg');
        background-size: contain;
        background-position: 0;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.25rem;
    }

    p {
        font-size: 1.125rem;
    }

    .container {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .row {
        min-height: 570px;
        position: relative;
    }

    .logo {
        padding: 3.5rem 0 5.25rem 0;
    }

    .logo img {
        width: 214px;
    }

    .row {
        display: flex;
        justify-content: center;
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-image,
    .col-text {
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-image {
        flex: 1 0 50%;
        max-width: 50%;
        padding-left: 18px;
        padding-right: 18px;
    }

    .col-text {
        flex: 1 0 50%;
        max-width: 50%;
        padding-left: 35px;
        padding-right: 35px;
    }

    .image {
        margin-bottom: 0;
    }

    .text {
        text-align: left;
    }

    .btn {
        font-size: 1.125rem;
        margin: 0;
        width: 200px;
        height: 56px;
    }

    .social {
        position: absolute;
        bottom: -0.3125rem;
        right: 1.0625rem;
        margin-bottom: 0;
    }

    .social li {
        margin: 0.5rem;
    }

    .social a {
        width: 40px;
        height: 40px;
    }

    .facebook svg { width: 11px; }
    .twitter svg { width: 16px; }
    .instagram svg { width: 18px; }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1440px) {
    h1 {
        margin-top: 2.75rem;
    }

    .container {
        max-width: 1330px;
    }

    .col-image {
        flex-basis: 56%;
        max-width: 56%;
    }

    .col-text {
        flex-basis: 44%;
        max-width: 44%;
    }

}
